@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

p {
    font-size: 1.2rem;
    text-align: center;
    color: v.$text-color;
}

h1 {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include m.title-text;
    color: v.$text-color;
}

h2 {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include m.title-text;
    color: v.$text-color;
}