// Warna
$primary-color: #4f46e5;
$secondary-color: #64748b;
$bg-color: #f8fafc;
$text-color: #1e293b;
$border-color: #ccc;
$btn-color: #0582af;
$color-muted: #555;

//spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;